#titulo {

background-position: 50px;
padding-top: 10px;
left: 50px;
position: relative;
}

#seccion1 {
    position: static;
    top: 65px;
    left: 50px;

}


#seccion2 {
    position:relative;
    left: 100px;
    top: 1px;
    left: 100px;
    margin-top:-48px;
    

}

.section
{
text-underline-position: auto;
}